<% include ./partials/header %>

<h1>Inicie Sesión</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="usuario">
    <input type="password" name="password" placeholder="contraseña">
    <button>Iniciar Sesión</button>
</form>

<% include ./partials/footer %>