<% include ../partials/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
<script>
    $(window).on('load', function() {
        $("#date").val(moment().format('YYYY-MM-DD'));
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h3>Nuevo Producto</h3>  
            <br>
        </div>
        <form action="/products" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nombre:</label>
                <div class="col-sm-4">
                    <input class="form-control" id="name" type="text" name="product[name]" placeholder="Nombre o Descripción del Producto">
                </div>
                <label for="contact" class="col-sm-2 control-label">Empresa:</label>
                <div class="col-sm-4">
                    <select id="contact" class="form-control" name="product[contact]">
                        <% contacts.forEach(function(contact){ %>
                            <option value="<%= contact._id %>"><%= contact.nit + " (" + contact.name + ")" %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">Fecha:</label>
                <div class="col-sm-4">
                    <input class="form-control" id="date" type="date" name="product[date]">
                </div>
                <label for="precio" class="col-sm-2 control-label">Precio:</label>
                <div class="col-sm-4" lang="en-US">
                    <input step="0.01" min="0" class="form-control" id="precio" type="number" name="product[price]" placeholder="Precio">
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10 text-right">
                    <input type="submit" name="guardar" class="btn btn-success" value="Guardar">
                    <input type="submit" name="otro" class="btn btn-success" value="Guardar y Añadir Otro"> 
                    <a href="/products/p=1/s=." class="btn btn-warning">Cancelar</a> 
                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>